.naturel {
    margin: 0 auto;
    padding: 20px;
    background-color: #FDFDFD;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    img {
      max-width: 100%;
      height: auto;
  }
}